*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'FiraSans', sans-serif;
}
@font-face {
    font-family: Fonte-Oswald;
    src: url(fontes/Oswald-ExtraLight.ttf) format
    ('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('fontes/FiraSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.container-flex-center{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #403A3E, #8f0000e8);
}
.form-login{
    margin: 3%;
    width: 100%;
}
.style-container{
    width: 52%;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}
.container-login{
    width: 70%;
    display: flex;
    height: 64vh;
    background-color: #ededed;  
    border-radius: 10px;
    box-shadow: 5px 5px 1rem 0rem #000000
}
.texto-login{
    margin-bottom: 20px;
    font-size: 3.5rem;
    text-align: center;
}
#id_username, #id_password,#id_email,#id_password2{
    margin-top: 10px;
    width: 100%;
    font-size: 1.25rem;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 1px 0 2px 2px;
    border-bottom: 1px solid black;
}
.label{
    font-size: 12pt;
    display: block;
    margin-top: 20px;
}
.btn-login{
    margin: 2vh auto;
    text-align: center;
    width: 50%;
    padding: 3%;
    border-radius: 15px;
    font-size: 1rem;
    color: rgb(236, 226, 226);
    border: none;
    background-color: #c90404;
    box-shadow: 2px 3px 6px 0rem #000000;  
    display: block;
}
.btn-login:hover{
        background-color: #ad0000;
        color: rgb(206, 202, 202);
}
.container-criar-conta{
    width: 100%;
    background-color: #202426;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-link-cadastro{
    color: #fff;
    font-weight: 700;
}
.text-link-cadastro a{
    color: #c90404;
    
}
.container-logo{
    width: 100%;
    height: 10vh;
}
.img-logo{
    width:12%;
}
.logo-tipo{
    background-image: url(Imagens/logotipo.png);
    width: 13%;
    height: 10vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.img-cadastro{
  width:100%!important;
  height: auto!important;
}
.cadastro-usuario{
    width: 90%!important;
    /*height: 72vh!important;*/
}
.container-cadastro-usuario{
    height: 84vh!important;
}
/* HOMEPAGE */ 
header{
    display: flex;
    width: 100%;
    height: 13vh;
    background-color: #F2F2F2;
    justify-content: space-between;
    align-items: center;
    margin-top: -13.4vh;
    padding: 0 2%;
    position: fixed;
    z-index: 9;
    box-shadow: 0px 2px 10px 0px black;
}
.nav-bar {
    width: 100%;
}
.nav-bar .list-ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-bar ul{
    list-style-type: none;
}
.nav-bar ul li a{
    text-decoration: none;
    color: #f11d25;
    font-size: 1.5rem;
    font-weight: 600;
}
.container-post-flex{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.post{
    width: 29%;
    height: 43vh;
    background: linear-gradient(to top, #c7c7c76b,#ededed00 );
    border-radius: 5px;
    margin: 1%;
    box-shadow: 4px 6px 7px 0px rgb(0 0 0 / 29%);
}
.post:hover{
    scale: 1.01;
    box-shadow: 7px 8px 8px 0px rgb(0 0 0 / 35%);
}
.img-receita{
    width: 100%;
    height: 30vh;
    border-radius: 5px 5px 0 0;
}
.post-text{
    padding: 2px;
    text-align:center;
    font-size: 8.5pt;
}
.post a{
    background-color: transparent;
    color: black;
    text-decoration: none;
}
/* DETALHE */
.container-receita-detalhe{
    margin: 1%;
}
.img-receita-detalhe{
    background-color: #000000;
    width: 50%;
    margin: 0 auto;
    height: 60vh;
    display:block;
}
.autor-receita{
    margin-top: 15px;
    text-align: center  ;
    font-size: 20pt;
    font-weight:700;

}
.receita-detalhe-tituto{
    text-align: center;
    margin: 20px 0;
}
.linha{
    width:25%;
    margin:15px 0;
    background: #ccc;
    border: none;
    border-radius:none;
    height:2px
}
.flex-linha{
    display:flex;
    margin: 50px 0;
    justify-content:space-between;
}
.receita-ingredientes{
    margin:15px 0;
}
/* PUBLICAR */
.conteiner-publicar{
    margin: 1%;
    padding-top: 30px;
    margin-top:104px;
}
.nome-receita{
    margin: 15px 0;
    text-align: center;
    font-size: 15pt;
    font-weight: 700;
}
#id_post_nome{
    border: none;
    font-size: 15pt;
    border-bottom: 1px solid black  ;
    outline: none;
    width: 50%;
}
.label-tempo-publicar{
    font-size: 15pt;
    font-weight: 700;
}
#id_post_tempo{
    border: none;
    font-size: 15pt;
    border-bottom: 1px solid black;
    outline: none;
    width: 14%;
}
.p-minutos{
    font-size: 14pt;
    font-weight: 600;
    display:inline;
}
#id_post_foto{
    display: block;
    margin: 0 auto;
}
.block{
    font-size: 15pt;
    text-align:center;
    margin: 25px 0;
}
#id_post_preparo,#id_post_ingredientes{
    display: block;
    width: 80%;
    font-size: 15pt;
    margin: 15px auto 0 auto;
    resize:none;
    padding: 5px;
}
.label-postar{
    font-size: 15pt;
    display: block;
    margin-top: 35px;
    font-weight: 700;
}
.btn-enviar{
    margin: 20px auto;
    text-align: center;
    width: 15%;
    padding: 1%;
    border-radius: 15px;
    font-size: 1rem;
    color: rgb(236, 226, 226);
    border: none;
    background-color: #c90404;
    box-shadow: 2px 3px 6px 0rem #000000;
    display: block;
}
.btn-enviar:hover{
        background-color: #ad0000;
        color: rgb(206, 202, 202);
}
.alert-success{
    width: 50%;
    margin: 12px auto;
    display: block;
    text-align: center;
    background: #04d104a6;
    /* margin: 12px; */
    padding: 1%;
    font-size: 14pt;
    color: black;
}
.informacoes{
width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;}
.receita-ingrediente{
border: none;
    border: none;
    color: black;
    font-size: 11.5pt;
    resize: none;
    text-align: initial;
    width: 100%;
    /* appearance: none; */
    overflow: hidden;
}
.img-background{
     background-image: url(Imagens/macarrao-penne-em-molho-de-tomate-com-frango-e-tomate-em-uma-mesa-de-madeira.jpg);
    width: 48%;
    height: 64vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.homepage-background{
background-image: url(Imagens/ovos-fritos-com-legumes.jpg);
    width: 100%;
    height: 75vh;
    display: flex;
    background-size: cover;
    margin-top: 13.6vh;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}
.pesquisa{
    width: 50%;
    display:flex;
    align-content: center;
}
.pesquisa-input{
    width: 80%;
    background-position: 8px;
    border-radius: 20px 0px 0px 20px;
    /* margin: 2px; */
    outline: none;
     font-size: 15pt;
    padding: 3%;
    border: 1px solid black;
    height: 7vh;
}
.pesquisa:focus{
    background-color:#fff;
}
.pesquisa-input, .btn-pesquisa{
background-color:#ffffffcc;
}
.btn-pesquisa{
    width: 12%;
    border: 1px solid black;
    height: 7vh;
    /* padding: 0.5rem; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-pesquisa{
    width: 58%;
    height: 4.9vh;
    border: none;
}
.main-pagina {
    margin-top: 13.45vh;
}
.margin-publicar{
   margin-top: -2.4vh;
}
input[type="file"]{
    display:flex!important;
}
input#file-upload-button{
background-color: white!important;
}
.label-foto{
    padding: 20px 10px;
    width: 21%;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin:0 auto;
    cursor: pointer;
    background-repeat: no-repeat;
    height: 6vh;

    background-size: contain;
    background-image: url(Imagens/envio.png);
}
.nada{
    font-size: 14pt;
    margin:2rem 0 ;
}
footer{
    width: 100%;
    height: 23vh;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
}
.d-flex{
    width: 100%;
    display:flex;
    margin: 6vh 0;
    justify-content: space-around;
}