{%extends 'base.html'%}
{%block body %}
{% load static %}
{% include 'parcias/_header.html' %}
    <div class="homepage-background">
        <form action="{% url 'receitas:buscar' %}" class="pesquisa" method="GET" >
            <input type="text" class="pesquisa-input" name="nome" value="{{ request.GET.nome }}" placeholder="Buscar...">
            <button type="submit" class="btn-pesquisa">
                <img src="{% static 'Imagens/lupa.png' %}" class="icon-pesquisa">
            </button>
        </form>
    </div>
    <main >
        {% for message in messages %}
            <div class="alert {{ message.tags }}" role="alert">
            {{ message }}
            </div>
        {%endfor%}
         <div class="flex-linha">
                <hr class="linha">
                    <h1> Receitas postadas</h1>
                <hr class="linha">
            </div>
        <div class="container-post-flex">

            {% if  not receitas %}
                <p class="nada">Não foi encontrado nada</p>
            {%endif%}

            {% for receita in receitas %}
            {% if receita.post_publicado %}
            <div class="post">

                <a href="{% url 'receitas:detalhe' receita.post_codigo %}">
                    <img src="{{ receita.post_foto.url }}" alt="" class="img-receita">

                <div class="post-text">
                    <h1>{{receita.post_nome}}</h1>

                    <h2> Feito por: {{receita.post_usuario_fk}}</h2>
                </div>
                </a>
            </div>
            {% endif %}
            {%endfor%}

        </div>


    </main>
{% include 'parcias/_footer.html' %}
{%endblock%}
